<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.school.buscompany.mapper.mybatis.TripMybatisMapper">

    <resultMap id="resultScheduleTrip" type="net.thumbtack.school.buscompany.model.ScheduleTrip">
        <id property="id" column="id_trip"/>
        <result property="busName" column="bus_name_trip"/>
        <result property="fromStation" column="from_station_trip"/>
        <result property="toStation" column="to_station_trip"/>
        <result property="start" column="start_trip"/>
        <result property="duration" column="duration_trip"/>
        <result property="price" column="price_trip"/>
        <result property="approved" column="approved_trip"/>
        <result property="fromDate" column="from_date"/>
        <result property="toDate" column="to_date"/>
        <result property="period" column="period"/>
    </resultMap>

    <resultMap id="resultDatesTrip" type="net.thumbtack.school.buscompany.model.DatesTrip">
        <id property="id" column="id_trip"/>
        <result property="busName" column="bus_name_trip"/>
        <result property="fromStation" column="from_station_trip"/>
        <result property="toStation" column="to_station_trip"/>
        <result property="start" column="start_trip"/>
        <result property="duration" column="duration_trip"/>
        <result property="price" column="price_trip"/>
        <result property="approved" column="approved_trip"/>
        <collection property="dates" column="date_trip" javaType="java.util.List" ofType="java.lang.String"/>
    </resultMap>

    <select id="getScheduleTripById" resultMap="resultScheduleTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
            trip.to_station as to_station_trip, trip.`start` as start_trip, trip.duration as duration_trip,
            trip.price as price_trip, trip.approved as approved_trip, trip_schedule.from_date as from_date_schedule,
            trip_schedule.to_date as to_date_schedule, trip_schedule.period as period_schedule
        FROM trip JOIN trip_schedule ON trip.id = trip_schedule.id_trip
        WHERE trip.id = #{tripId}
    </select>

    <select id="getDatesTripById" resultMap="resultDatesTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.`start` as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip.id = #{tripId}
    </select>

    <select id="getScheduleTripsByFromStation" resultMap="resultScheduleTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
            trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
            trip.price as price_trip, trip.approved as approved_trip, trip_schedule.from_date as from_date_schedule,
            trip_schedule.to_date as to_date_schedule, trip_schedule.period as period_schedule
        FROM trip JOIN trip_schedule ON trip.id = trip_schedule.id_trip
        WHERE trip.from_station = #{fromStation}
    </select>

    <select id="getDatesTripsByFromStation" resultMap="resultDatesTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
            trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
            trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip.from_station = #{fromStation}
    </select>

    <select id="getScheduleTripsByToStation" resultMap="resultScheduleTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_schedule.from_date as from_date_schedule,
        trip_schedule.to_date as to_date_schedule, trip_schedule.period as period_schedule
        FROM trip JOIN trip_schedule ON trip.id = trip_schedule.id_trip
        WHERE trip.to_station = #{toStation}
    </select>

    <select id="getDatesTripsByToStation" resultMap="resultDatesTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip.to_station = #{toStation}
    </select>

    <select id="getScheduleTripsByFromDate" resultMap="resultScheduleTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_schedule.from_date as from_date_schedule,
        trip_schedule.to_date as to_date_schedule, trip_schedule.period as period_schedule
        FROM trip JOIN trip_schedule ON trip.id = trip_schedule.id_trip
        WHERE trip_schedule.from_date &gt;= DATE_FORMAT(#{fromDate}, '%Y-%m-%d')
    </select>

    <select id="getDatesTripsByFromDate" resultMap="resultDatesTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip_date.`date` &gt;= DATE_FORMAT(#{fromDate}, '%Y-%m-%d')
    </select>

    <select id="getScheduleTripsByToDate" resultMap="resultScheduleTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_schedule.from_date as from_date_schedule,
        trip_schedule.to_date as to_date_schedule, trip_schedule.period as period_schedule
        FROM trip JOIN trip_schedule ON trip.id = trip_schedule.id_trip
        WHERE trip_schedule.to_date &lt;= DATE_FORMAT(#{toDate}, '%Y-%m-%d')
    </select>

    <select id="getDatesTripsByToDate" resultMap="resultDatesTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip_date.`date` &lt;= DATE_FORMAT(#{fromDate}, '%Y-%m-%d')
    </select>

    <select id="getScheduleTripsByBus" resultMap="resultScheduleTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_schedule.from_date as from_date_schedule,
        trip_schedule.to_date as to_date_schedule, trip_schedule.period as period_schedule
        FROM trip JOIN trip_schedule ON trip.id = trip_schedule.id_trip
        WHERE trip.bus_name = #{busName}
    </select>

    <select id="getDatesTripsByBus" resultMap="resultDatesTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip.bus_name = #{busName}
    </select>

    <select id="getAllScheduleTrips" resultMap="resultScheduleTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_schedule.from_date as from_date_schedule,
        trip_schedule.to_date as to_date_schedule, trip_schedule.period as period_schedule
        FROM trip JOIN trip_schedule ON trip.id = trip_schedule.id_trip
    </select>

    <select id="getAllDatesTrips" resultMap="resultDatesTrip">
        SELECT trip.id as id_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
    </select>
</mapper>