<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.school.buscompany.mapper.mybatis.TripMybatisMapper">

    <resultMap id="resultTrip" type="net.thumbtack.school.buscompany.model.Trip">
        <id property="id" column="id_trip_trip"/>
        <result property="busName" column="bus_name_trip"/>
        <result property="fromStation" column="from_station_trip"/>
        <result property="toStation" column="to_station_trip"/>
        <result property="start" column="start_trip"/>
        <result property="duration" column="duration_trip"/>
        <result property="price" column="price_trip"/>
        <result property="approved" column="approved_trip"/>
        <collection property="dates" resultMap="dateList" javaType="java.util.ArrayList"/>
    </resultMap>

    <resultMap id="dateList" type="java.time.LocalDate">
        <result property="date" column="date_trip"/>
    </resultMap>

    <select id="getTripById" resultMap="resultTrip">
        SELECT trip.id as id_trip_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
                trip.to_station as to_station_trip, trip.`start` as start_trip, trip.duration as duration_trip,
                trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip.id = #{tripId}
    </select>

    <select id="getTripsByFromStation" resultMap="resultTrip">
        SELECT trip.id as id_trip_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
            trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
            trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip.from_station = #{fromStation}
    </select>

    <select id="getTripsByToStation" resultMap="resultTrip">
        SELECT trip.id as id_trip_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip.to_station = #{toStation}
    </select>

    <select id="getTripsByFromDate" resultMap="resultTrip">
        SELECT trip.id as id_trip_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip_date.`date` &gt;= DATE_FORMAT(#{fromDate}, '%Y-%m-%d')
    </select>

    <select id="getTripsByToDate" resultMap="resultTrip">
        SELECT trip.id as id_trip_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip_date.`date` &lt;= DATE_FORMAT(#{fromDate}, '%Y-%m-%d')
    </select>

    <select id="getTripsByBus" resultMap="resultTrip">
        SELECT trip.id as id_trip_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
        WHERE trip.bus_name = #{busName}
    </select>

    <select id="getAllTrips" resultMap="resultTrip">
        SELECT trip.id as id_trip_trip, trip.bus_name as bus_name_trip, trip.from_station as from_station_trip,
        trip.to_station as to_station_trip, trip.start as start_trip, trip.duration as duration_trip,
        trip.price as price_trip, trip.approved as approved_trip, trip_date.`date` as date_trip
        FROM trip JOIN trip_date ON trip.id = trip_date.id_trip
    </select>
</mapper>